.page {
    max-width: 1280px;
    margin: auto;
    padding: 34px 0px;
    background: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 92px;
    color: white;
}

.content{
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 92px;
}