@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/cover.css);
@import url(../blocks/intro.css);

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }

    .header__logo{
        width: 254px;
        height: 66px;
    }

    .content{
        max-width: 768px;
        align-items: center;
        gap: 92px;
    }

    .cover{
        gap: 10px;
    }

    .cover__title{
        width: 530px;
        height: 158px;
        font-size: 75px;
        line-height: 79px;
    }

    .cover__img{
        height: 480px;
    }

    .intro{
        width: 720px;
        height: 573px;
        gap: 10px;
    }

    .intro__title{
        width: 707px;
        height: 147px;
        font-size: 45px;
        line-height: 49px;
    }

    .intro__subtitle{
        width: 720px;
        height: 136px;
    }

    .intro__sign{
        width: 720px;
        height: 34px;
    }

    .intro__info{
        width: 720px;
        height: 182px;
        
    }

}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
        gap: 45px;
    }

    .header__logo{
        width: 188px;
        height: 52px;
    }

    .content{
        max-width: 320px;
        align-items: center;
        gap: 92px;
    }

    .cover{
        gap: 10px;
    }

    .cover__title{
        width: 228px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
    }

    .cover__subtitle{
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }

    .cover__img{
        height: 200px;
    }

    .intro{
        width: 288px;
        height: 1033px;
        gap: 10px;
    }

    .intro__title{
        width: 288px;
        height: 175px;
        font-size: 32px;
        line-height: 35px;
    }

    .intro__subtitle{
        width: 288px;
        height: 300px;
        line-height: 30px;
    }

    .intro__sign{
        width: 288px;
        height: 34px;
    }

    .intro__info{
        width: 288px;
        height: 442px;
        
    }

}